<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vladus177.home">

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false">
        <activity android:name=".ui.HomeActivity" />
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_home">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

